{
  "openapi": "3.0.3",
  "info": {
    "title": "Toffee API",
    "description": "API for managing teams, sites, and querying analytics data from the Toffee bot detection platform.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.toffee.at",
      "description": "Production"
    }
  ],
  "security": [
    { "sessionAuth": [] }
  ],
  "paths": {
    "/api/v1/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List teams",
        "description": "List all teams the authenticated user is a member of.",
        "tags": ["Teams"],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TeamWithRole" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTeam",
        "summary": "Create team",
        "description": "Create a new team. The authenticated user becomes the owner.",
        "tags": ["Teams"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "slug"],
                "properties": {
                  "name": { "type": "string", "description": "Display name" },
                  "slug": { "type": "string", "description": "URL slug (1-38 chars, lowercase alphanumeric + hyphens)", "pattern": "^[a-z0-9][a-z0-9-]{0,36}[a-z0-9]$" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "team": { "$ref": "#/components/schemas/Team" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get team",
        "description": "Get team details including your membership role.",
        "tags": ["Teams"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "team": { "$ref": "#/components/schemas/TeamAuth" }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTeam",
        "summary": "Update team",
        "description": "Update team name or slug. Requires owner role.",
        "tags": ["Teams"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "slug": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTeam",
        "summary": "Delete team",
        "description": "Delete a team and all associated data. Requires owner role.",
        "tags": ["Teams"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" }
        ],
        "responses": {
          "200": {
            "description": "Team deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List members",
        "description": "List all members of a team.",
        "tags": ["Teams"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Member" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addMember",
        "summary": "Add member",
        "description": "Invite a user to the team by email. Requires owner or admin role.",
        "tags": ["Teams"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "role": { "type": "string", "default": "member" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/members/{userId}": {
      "patch": {
        "operationId": "updateMember",
        "summary": "Update member role",
        "description": "Change a member's role. Requires owner role.",
        "tags": ["Teams"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["role"],
                "properties": {
                  "role": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeMember",
        "summary": "Remove member",
        "description": "Remove a member from the team. Requires owner or admin role.",
        "tags": ["Teams"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Member removed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/sites": {
      "get": {
        "operationId": "listSites",
        "summary": "List sites",
        "description": "List all sites in a team.",
        "tags": ["Sites"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" }
        ],
        "responses": {
          "200": {
            "description": "List of sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sites": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Site" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSite",
        "summary": "Create site",
        "description": "Create a new site in a team. Returns the site and a new API key.",
        "tags": ["Sites"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "domain": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Site created with API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "site": { "$ref": "#/components/schemas/Site" },
                    "apiKey": { "type": "string", "description": "Full API key -- save immediately, shown only once" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/sites/{siteId}": {
      "get": {
        "operationId": "getSite",
        "summary": "Get site",
        "description": "Get site details.",
        "tags": ["Sites"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" }
        ],
        "responses": {
          "200": {
            "description": "Site details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "site": { "$ref": "#/components/schemas/Site" }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSite",
        "summary": "Update site",
        "description": "Update site name or domain.",
        "tags": ["Sites"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "domain": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSite",
        "summary": "Delete site",
        "description": "Delete a site and all associated data.",
        "tags": ["Sites"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" }
        ],
        "responses": {
          "200": {
            "description": "Site deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/sites/{siteId}/keys": {
      "get": {
        "operationId": "listKeys",
        "summary": "List API keys",
        "description": "List all API keys for a site. Only the prefix is returned, not the full key.",
        "tags": ["Sites"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ApiKey" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events": {
      "post": {
        "operationId": "ingestEvents",
        "summary": "Ingest events",
        "description": "Send a batch of events from the SDK. Authenticated via API key.",
        "tags": ["Events"],
        "security": [{ "apiKeyHeader": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["events"],
                "properties": {
                  "sessionId": { "type": "string", "description": "Session ID (can also be per-event)" },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["type", "timestamp"],
                      "properties": {
                        "sessionId": { "type": "string" },
                        "type": { "type": "string", "enum": ["pageview", "detection", "interaction", "session_end"] },
                        "timestamp": { "type": "number" },
                        "url": { "type": "string" },
                        "payload": { "type": "object" },
                        "features": {
                          "type": "object",
                          "description": "Behavioral features for ML classification",
                          "properties": {
                            "action_burst_ratio": { "type": "number" },
                            "click_duration_std": { "type": "number" },
                            "inter_event_entropy": { "type": "number" },
                            "mouse_teleportation": { "type": "number" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Events accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": { "type": "integer" },
                    "classifications": {
                      "type": "object",
                      "description": "ML classifications keyed by event index",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Classification"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pixel": {
      "get": {
        "operationId": "trackPixel",
        "summary": "Tracking pixel",
        "description": "Returns a 1x1 transparent GIF and records a pageview. For non-JS environments (curl, bots, server-side). If the `k` parameter is omitted, the GIF is returned without tracking.",
        "tags": ["Events"],
        "security": [{ "apiKeyQuery": [] }],
        "parameters": [
          { "name": "k", "in": "query", "required": false, "schema": { "type": "string" }, "description": "API key (optional -- if missing, returns GIF without tracking)" },
          { "name": "url", "in": "query", "schema": { "type": "string" }, "description": "Page URL (falls back to Referer header)" }
        ],
        "responses": {
          "200": {
            "description": "1x1 transparent GIF",
            "content": {
              "image/gif": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/analytics/{siteId}/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Get stats",
        "description": "Get aggregate stats for a site including total visits, agent percentage, and top pages.",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" },
          { "$ref": "#/components/parameters/range" }
        ],
        "responses": {
          "200": {
            "description": "Site stats",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/analytics/{siteId}/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List detected agents",
        "description": "List all detected agents for a site within the time range.",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" },
          { "$ref": "#/components/parameters/range" }
        ],
        "responses": {
          "200": {
            "description": "Agent list",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/analytics/{siteId}/pages": {
      "get": {
        "operationId": "getPages",
        "summary": "Get page analytics",
        "description": "Get per-page visit counts and agent breakdowns.",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" },
          { "$ref": "#/components/parameters/range" }
        ],
        "responses": {
          "200": {
            "description": "Page analytics",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/analytics/{siteId}/elements": {
      "get": {
        "operationId": "getElements",
        "summary": "Get element interactions",
        "description": "Get interaction data for tracked elements on a specific page.",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" },
          { "name": "page", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Page URL to filter by" }
        ],
        "responses": {
          "200": {
            "description": "Element interaction data",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/analytics/{siteId}/visitors": {
      "get": {
        "operationId": "listVisitors",
        "summary": "List visitors",
        "description": "List all visitor sessions for a site within the time range.",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" },
          { "$ref": "#/components/parameters/range" }
        ],
        "responses": {
          "200": {
            "description": "Visitor list",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamSlug}/analytics/{siteId}/session/{sessionId}": {
      "get": {
        "operationId": "getSession",
        "summary": "Get session events",
        "description": "Get all events for a specific session.",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/teamSlug" },
          { "$ref": "#/components/parameters/siteId" },
          { "name": "sessionId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Session events",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "operationId": "dataGetStats",
        "summary": "Get site stats",
        "description": "Get aggregate stats for the site associated with the API key. Returns total visits, agent visits, unique agents, and AI readiness score.",
        "tags": ["Data API"],
        "security": [{ "apiKeyHeader": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/range" }
        ],
        "responses": {
          "200": {
            "description": "Site stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalVisits": { "type": "number", "description": "Total visit count" },
                    "agentVisits": { "type": "number", "description": "Number of agent visits" },
                    "agentPercentage": { "type": "number", "description": "Percentage of visits from agents" },
                    "uniqueAgents": { "type": "number", "description": "Number of unique agents detected" },
                    "aiReadinessScore": { "type": "number", "description": "AI readiness score for the site" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents": {
      "get": {
        "operationId": "dataListAgents",
        "summary": "List detected agents",
        "description": "List all detected agents for the site associated with the API key. SQL aggregate values are returned as strings.",
        "tags": ["Data API"],
        "security": [{ "apiKeyHeader": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/range" }
        ],
        "responses": {
          "200": {
            "description": "Agent list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "visits": { "type": "string", "description": "SQL aggregate (string)" },
                      "pagesCrawled": { "type": "string", "description": "SQL aggregate (string)" },
                      "avgDwell": { "type": "string", "description": "SQL aggregate (string)" },
                      "lastSeen": { "type": "string", "description": "Timestamp as string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pages": {
      "get": {
        "operationId": "dataGetPages",
        "summary": "Get page analytics",
        "description": "Get per-page visit counts and agent breakdowns for the site associated with the API key. SQL aggregate values are returned as strings.",
        "tags": ["Data API"],
        "security": [{ "apiKeyHeader": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/range" }
        ],
        "responses": {
          "200": {
            "description": "Page analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": { "type": "string" },
                      "totalViews": { "type": "string", "description": "SQL aggregate (string)" },
                      "agentViews": { "type": "string", "description": "SQL aggregate (string)" },
                      "agentPercentage": { "type": "string", "description": "SQL aggregate (string)" },
                      "topAgent": { "type": "string", "nullable": true }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/elements": {
      "get": {
        "operationId": "dataGetElements",
        "summary": "Get element interactions",
        "description": "Get interaction data for tracked elements on a specific page. SQL aggregate values are returned as strings.",
        "tags": ["Data API"],
        "security": [{ "apiKeyHeader": [] }],
        "parameters": [
          { "name": "page", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Page URL to filter by" }
        ],
        "responses": {
          "200": {
            "description": "Element interaction data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "selector": { "type": "string" },
                      "tag": { "type": "string" },
                      "interactionCount": { "type": "string", "description": "SQL aggregate (string)" },
                      "avgDwell": { "type": "string", "description": "SQL aggregate (string)" },
                      "trustedPercentage": { "type": "string", "description": "SQL aggregate (string)" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/visitors": {
      "get": {
        "operationId": "dataListVisitors",
        "summary": "List visitors",
        "description": "List all visitor sessions for the site associated with the API key.",
        "tags": ["Data API"],
        "security": [{ "apiKeyHeader": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/range" }
        ],
        "responses": {
          "200": {
            "description": "Visitor list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sessionId": { "type": "string" },
                      "isAgent": { "type": "boolean" },
                      "agentScore": { "type": "number" },
                      "agentName": { "type": "string", "nullable": true },
                      "pageCount": { "type": "number" },
                      "firstSeen": { "type": "string" },
                      "lastSeen": { "type": "string" },
                      "classification": { "type": "string" },
                      "interactionCount": { "type": "string", "description": "SQL subquery COUNT (string)" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/session/{sessionId}": {
      "get": {
        "operationId": "dataGetSession",
        "summary": "Get session events",
        "description": "Get all events for a specific session. Authenticated via API key.",
        "tags": ["Data API"],
        "security": [{ "apiKeyHeader": [] }],
        "parameters": [
          { "name": "sessionId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Session events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string" },
                      "url": { "type": "string" },
                      "timestamp": { "type": "number", "description": "Epoch timestamp (converted to number)" },
                      "payload": { "type": "string", "nullable": true, "description": "JSON-stringified payload or null" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/global/users": {
      "get": {
        "operationId": "adminListUsers",
        "summary": "List all users",
        "description": "List all users on the platform. Requires admin role.",
        "tags": ["Global Admin"],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "email": { "type": "string" },
                          "role": { "type": "string" },
                          "created_at": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden -- not an admin"
          }
        }
      }
    },
    "/api/v1/admin/global/users/{userId}": {
      "patch": {
        "operationId": "adminUpdateUser",
        "summary": "Update user role",
        "description": "Change a user's global role. Requires admin role.",
        "tags": ["Global Admin"],
        "parameters": [
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["role"],
                "properties": {
                  "role": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          },
          "403": {
            "description": "Forbidden -- not an admin"
          }
        }
      },
      "delete": {
        "operationId": "adminDeleteUser",
        "summary": "Delete user",
        "description": "Delete a user from the platform. Requires admin role.",
        "tags": ["Global Admin"],
        "parameters": [
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          },
          "403": {
            "description": "Forbidden -- not an admin"
          }
        }
      }
    },
    "/api/v1/admin/global/teams": {
      "get": {
        "operationId": "adminListTeams",
        "summary": "List all teams",
        "description": "List all teams on the platform with member and site counts. Requires admin role.",
        "tags": ["Global Admin"],
        "responses": {
          "200": {
            "description": "Team list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "slug": { "type": "string" },
                          "created_at": { "type": "string", "format": "date-time" },
                          "member_count": { "type": "string", "description": "SQL COUNT (string)" },
                          "site_count": { "type": "string", "description": "SQL COUNT (string)" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden -- not an admin"
          }
        }
      }
    },
    "/api/v1/admin/global/teams/{teamId}": {
      "delete": {
        "operationId": "adminDeleteTeam",
        "summary": "Delete team",
        "description": "Delete a team and all associated data. Requires admin role.",
        "tags": ["Global Admin"],
        "parameters": [
          { "name": "teamId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Team deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          },
          "403": {
            "description": "Forbidden -- not an admin"
          }
        }
      }
    },
    "/api/v1/admin/global/stats": {
      "get": {
        "operationId": "adminGetStats",
        "summary": "Get platform stats",
        "description": "Get aggregate platform stats. All values are converted to numbers. Requires admin role.",
        "tags": ["Global Admin"],
        "responses": {
          "200": {
            "description": "Platform stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalUsers": { "type": "number" },
                    "totalTeams": { "type": "number" },
                    "totalSites": { "type": "number" },
                    "totalEvents": { "type": "number" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden -- not an admin"
          }
        }
      }
    },
    "/api/v1/live": {
      "get": {
        "operationId": "liveEvents",
        "summary": "Live event stream",
        "description": "Server-Sent Events stream of real-time visitor activity. Connect with an EventSource client.",
        "tags": ["Real-Time"],
        "security": [],
        "parameters": [
          { "name": "siteId", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Health check",
        "description": "Basic health check. Returns 200 if the server is running.",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "summary": "Readiness check",
        "description": "Readiness check. Returns 200 if the server is running and the database is connected.",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Not ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "error" },
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session",
        "description": "Session cookie from /api/auth/* endpoints"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Site API key (ar_...)"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "k",
        "description": "Site API key passed as query parameter"
      }
    },
    "parameters": {
      "teamSlug": {
        "name": "teamSlug",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Team URL slug"
      },
      "siteId": {
        "name": "siteId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Site ID"
      },
      "range": {
        "name": "range",
        "in": "query",
        "schema": { "type": "integer", "default": 24 },
        "description": "Number of hours to include (default: 24)"
      }
    },
    "schemas": {
      "Team": {
        "type": "object",
        "description": "Team as returned by createTeam",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "TeamWithRole": {
        "type": "object",
        "description": "Team with the authenticated user's membership role (returned by listTeams)",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "role": { "type": "string", "description": "The authenticated user's role in this team" }
        }
      },
      "TeamAuth": {
        "type": "object",
        "description": "Team identity from the teamAuth middleware (returned by getTeam)",
        "properties": {
          "teamId": { "type": "string" },
          "teamSlug": { "type": "string" },
          "memberRole": { "type": "string" }
        }
      },
      "Member": {
        "type": "object",
        "description": "Team membership record with snake_case fields from the database",
        "properties": {
          "id": { "type": "string", "description": "Membership record ID" },
          "role": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "user_id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "image": { "type": "string", "nullable": true }
        }
      },
      "Site": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "domain": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "ApiKey": {
        "type": "object",
        "description": "API key metadata with snake_case fields from the database",
        "properties": {
          "id": { "type": "integer", "description": "Auto-incrementing SERIAL ID" },
          "prefix": { "type": "string", "description": "First 10 characters of the key" },
          "label": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "revoked_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "Classification": {
        "type": "object",
        "properties": {
          "classification": { "type": "string", "enum": ["human", "bot", "agent"] },
          "probabilities": {
            "type": "object",
            "properties": {
              "human": { "type": "number" },
              "bot": { "type": "number" },
              "agent": { "type": "number" }
            }
          },
          "source": { "type": "string", "enum": ["model", "heuristic"] }
        }
      },
      "OkResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "example": true }
        }
      }
    }
  },
  "tags": [
    { "name": "Teams", "description": "Manage teams and members" },
    { "name": "Sites", "description": "Manage sites and API keys" },
    { "name": "Events", "description": "Event ingestion and tracking pixel" },
    { "name": "Analytics", "description": "Query detection and traffic data (session auth, team-scoped)" },
    { "name": "Data API", "description": "Programmatic access to site analytics via API key" },
    { "name": "Global Admin", "description": "Platform administration (admin role required)" },
    { "name": "Real-Time", "description": "Live event streaming via SSE" },
    { "name": "Health", "description": "Server health and readiness checks" }
  ]
}
